
<div class="page-sidebar" id="sidebar">
    <ul class="nav sidebar-menu">
        <li>
            <a href="@Url.Action("Index","Home")">                
                <span class="menu-text">
                    Cook A Dish
                </span>
            </a>
        </li>        
        <li>
            <a href="#" class="menu-dropdown">
                @*<i>
                    <img src="~/assets/icons/iconDevelopment.png" />
                </i>*@
                <span class="menu-text">Management</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="@Url.Action("List","Recipe")">
                        <span class="menu-text">Recipe</span>
                    </a>
                </li>               
            </ul>
        </li>        
    </ul>
</div>
